language: node_js
node_js:
- '8'
sudo: required
addons:
  chrome: stable
cache:
  directories:
  - node_modules
before_install:
- npm install -g typescript && tsc -v
- npm install -g karma
install:
- npm install
script:
- npm run test
- npm run build
